* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Plus Jakarta Sans';
}

.footer-container{
    background-color: #EF950F;
    padding: 16px;
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0 0;
}

.footer-inner{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-loh{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #040818;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    img{
        width: 35px;
        height: 44px;
        aspect-ratio: 35/44;
    }

    .logo{
        font-size: 20px;
        font-weight: bold;
        color: #040818;
    }

    .logo span{
        color: #960913;
    }
}

h2{
    font-size: 20px;
}

p{
    font-size: 16px;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;

    a{
        text-decoration: none;
        color: #040818;
        font-weight: 600;
        white-space: nowrap;  
        display: flex;        
        align-items: center;
        gap: 8px;             
    }

    i{
        font-size: 24px;
    }
}

.copyright{
    font-size: 14px;
}

@media (min-width: 768px) {
    
    .footer-container {
        padding: 40px;
    }

    .footer-inner {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-links {
        flex-direction: column;
        align-items: flex-start;
    }
    
    h2{
        font-size: 24px;
    }
}
