* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #FDF4E7;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #FEF6EC;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.logo span {
    color: #e5212e;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #666;
    font-weight: 600;
}

.nav-links a.active {
    color: black;
    border-bottom: 2px solid #e5212e;
    padding-bottom: 5px;
}

.badge {
    background: #e5212e;
    color: white;
    font-size: 10px;
    padding: 2px 8px;
    border-radius: 10px;
}

.nav-right {
    display: flex;
    gap: 15px;
}

.btn-search{
    color: #00880d;
    background-color: #f0fdf4;
    border: none;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    
}

.btn-login {
    background: #f0fdf4;
    color: #00880d;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

/* Hero Section */ 
.form-section {
    display: flex;
    justify-content: center;
}
.form-card {
    max-width: 480px;
    border-radius: 20px;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 500px;
    margin: 10px;
    background: #FCEDD7;;
}
 
.form-title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 2px;
}
 
.form-sub {
    font-size: 13px;
    color: var(--text-gray);
    margin-top: -14px;
}
 
/* Input Nominal */
.input-nominal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: var(--white);
    border-radius: 12px;
    padding: 16px 20px;
    border: 1px solid var(--border);
    background: #FDF4E7;
}
 
.currency-label {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-dark);
}
 
.input-nominal input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    font-weight: 700;
    font-family: inherit;
    color: var(--text-dark);
    text-align: center;
}
 
.input-nominal input::placeholder {
    color: #ccc;
}
 
/* Sembunyikan arrow number input */
.input-nominal input::-webkit-outer-spin-button,
.input-nominal input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
.btn-edit {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-gray);
    font-size: 15px;
    padding: 4px;
}
 
/* Jumlah Anggota Counter */
.jumlah-anggota-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.jumlah-anggota-wrap label {
    font-size: 12px;
    color: var(--text-gray);
    font-weight: 500;
}

.counter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 12px 16px;
    background: #FDF4E7;
}

.counter-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.counter-info img {
    width: 55px;
    
}

.counter-text {
    font-size: 14px;
    font-weight: 600;
}

.counter-text h1 {
    font-size: 14px;
}

.counter-controls {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-counter {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border:transparent;
    background: transparent;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    transition: all 0.15s;
}

.btn-counter:hover {
    background: var(--orange);
    color: var(--white);
}

.btn-counter:disabled {
    border-color: var(--border);
    color: var(--border);
    cursor: not-allowed;
}

.btn-counter:disabled:hover {
    background: transparent;
    color: var(--border);
}

.counter-num {
    font-size: 22px;
    font-weight: 800;
    color: var(--text-dark);
    min-width: 28px;
    text-align: center;
}

/* Spacer */
.spacer {
    flex: 1;
}
 
/* Tombol Bersihkan */
.btn-bersihkan {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    transition: background 0.2s, transform 0.1s;
    color: #FFFFFF;
    background: #B3700B;
}

.btn-bersihkan:hover {
    background: #8a6008;
}
 
.btn-bersihkan:active {
    transform: scale(0.98);
}
 
@media (max-width: 992px) {
    .grid-container { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 600px) {
    .grid-container { grid-template-columns: 1fr; }
    .search-bar { flex-direction: column; }
}